:root {
    --brs-primary: #1b72e8;
    --brs-side: #051e34;
    --brs-grey: #e5e5e5;
    --brs-white: white;
}

.sidebar a{
    text-decoration: none;
    color: var(--brs-white);
    display: flex;
}

header{
    background-color: var(--brs-white);
   
}

main{
    padding-top: 4rem;
}



.banner {
    color: var(--brs-white);
    background-color: var(--brs-primary);

}

.col-12 {

    
}

.col-4 {
    background-color: aliceblue;
    height: 100px;
}

.dropdown-menu.show {
    left: -140px;
}

img {
    max-width: 100%;
}

.logo-mobile {
    width: 40px;
}

.center {
    width: 80%;
}

.search-bar {
    background-color: var(--brs-grey);
    font-weight: 500;
}


/* Sidebar */
.sidebar {
    background-color: var(--brs-side);
    background-image: url("../img/sidebar-bg.png");
   
}

.sidebar i{
    line-height: 1.5rem;
   
    
}

.sidebar h5{
    padding-left: 1rem;
}

.wrapper{
    padding: 0;
}


.banner .badge{
    background-color:rgba(0, 0, 0, 0.24);
}

table img{
    width: 25px;
    margin-right: 0.5rem;
}

table{
 text-align: center;
}

.new-student{
 padding-right: 1rem;
}

.banner h2{
    padding-right: 1rem;
}

.report{
    color: var(--brs-primary);
}

/* Effects */

.sidebar .home:hover, .sidebar .stats:hover, .sidebar .signals:hover, .sidebar .admin:hover{
    background-color: rgba(255, 255, 255, 0.493);
}

.sidebar .home, .sidebar .stats, .sidebar .signals, .sidebar .admin{
    transition: all .2s linear;
}

.banner .badge:hover{
    background-color: rgba(0, 0, 0, 0.445);
}

.banner .badge {
    transition: all .2s linear;
}


.sidebar{
    width: 64px;
}


@media screen and (min-width:991px) {
    .sidebar{
        width: 200px;
    }
}